#coming-soon-mobile {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-size: 100%;
    background: url(../../../assets/images/login/background_mobile.jpg) no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    text-align: center;
}

#coming-soon-mobile #logo img {
    margin: 20px 0 0;
    height: 100px;
}

#coming-soon-mobile h4 {
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 48px;
    margin: 50% 0 0;
    width: 100%;
}

#coming-soon-mobile p {
    color: #FFFFFF;
    width: 100%;
    font-size: 10px;
    position: absolute;
    display: block;
    bottom: 0;
    margin: 0 auto 0;
}