.Aux {
    margin: 0;
    padding: 0;
    height: 100%;
}

.content {
    margin-left: 20%;
    min-height: 100vh;
    width: 80%;
    height: 100%;
    background-color: #f1f5f6;
}

.content-no-sidebar {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background-color: #f1f5f6;
}