.register-body-mobile {
    margin: 0 auto;
    padding: 60px 42px 20px;
}

.spinner-modal .modal-backdrop {
    background-color: #ffffff;
    opacity: 1;
}

.spinner-modal .modal-dialog {
    height: 100%;
}

.spinner-modal .modal-content {
    height: 100%;

}

.spinner-modal .modal-body {
    height: 100%;
}

.spinner-modal .sweet-loading {
    height: 100%;
}

.spinner-modal .ring-loader {
    margin: 80% auto;
}

#register-logo img{
    width: 100%;
}

.register-form-mobile {
    margin: 15% auto 0;
}

#register-submit-mobile {
    margin: 10% 0 0
}

#register-login-mobile {
    text-align: center;
}

#register-login-mobile a {
    color: #ffffff;
    text-decoration: none;
}

#register-login-mobile a:hover {
    color: #ffffff;
    text-decoration: underline;
}