.content-container {
    background-color: #f1f5f6;
    padding: 80px 48px 0 48px;
}

.heading {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.7;
    letter-spacing: normal;
    color: #146967;
    margin: 20px 24px;
}

.mainContent {
    background-color: #ffffff;
    margin: auto 24px;
    padding: 24px 20px 0 40px;
    height: 100%;
    min-height: 100vh;
}
