.profile-container {
    padding: 20px 40px 100px;
}

.area-of-operation {
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: normal;
}
