label {
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: #666666;
    margin-bottom: 0;
    display: block;
}

.asterisk {
    color: #d8245e;
    vertical-align: super;
}