.login-body-mobile {
    margin: 0 auto;
    padding: 60px 42px 20px;
}

#login-logo img{
    width: 100%;
}

.login-form-mobile {
    margin: 15% auto 0;
}

#login-forgot-password-mobile {
    display: block;
    text-align: right;
    margin: 0;
}

#login-submit-mobile {
    margin: 10% 0 0
}

#login-social-buttons {
    margin: 10% 0 0;
}

#login-social-buttons > .facebook {
    float: left;
    width: 40%;
}

#login-social-buttons > .instagram {
    float: right;
    width: 40%;
}

#login-create-account-mobile {
    display: block;
    text-align: center;
    margin-top: 10%;
}