.login-body {
    min-height: 100vh;
    height: 100%;
    padding: 100px 400px;
}

.login-body .logo {
    text-align: center;
    height: 100px;
    margin-bottom: 100px
}

.login-body img {
    display: block;
    margin: 0 auto;
    height: 100%;
}

.login-form {
    width: 35%;
    display: block;
    margin: 30px auto 0;
}

.login-social-container {
    width: 35%;
    display: block;
    margin: 28px auto 0;
    text-align: center;
}