.login-body {
    background-color: #2abcbb;
    min-height: 100vh;
    height: 100%;
    padding: 100px 400px;
}

.login-form {
    width: 35%;
    display: block;
    margin: 30px auto 0;
}

.login-social-container {
    width: 35%;
    display: block;
    margin: 28px auto 20px;
    text-align: center;
}


.forgot-password {
    display: block;
    margin: 0 auto;
    width: 35%;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f1f5f6;
    text-align: right;

}