.login-body {
    background-color: #2abcbb;
    min-height: 100vh;
    height: 100%
}

.login-form {
    width: 35%;
    display: block;
    margin: 80px auto 0;
}

.login-social-container {
    width: 35%;
    display: block;
    margin: 28px auto 20px;
    text-align: center;
}

.forgot-password-container {
    display: block;
    width: 100%;
}

.forgot-password {
    display: block;
    width: 100%;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f1f5f6;
    text-align: right;
}