.body {
    margin-bottom: 36px;
}

button.btn-airstyl{
    width: 150px;
    height: 45px;
    border-radius: 4px;
    background-color: #37d5d4;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}
