.avatar {
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 auto;
    position: relative;
    border: 6px solid #127b7a;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

.avatar img {
    width: 100%;
    height: 100%;
}

.camera {
    position: absolute;
    top: 75px;
    left: 75px;
    width: 45px;
    height: 45px;
    transition: transform .2s;
}

.camera:hover {
    transform: scale(1.2);
}

.avatar img {
    width: 100%;
    height: 100%;
}